<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="mysql-connector-java-5.1.30-bin" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/antlr-2.7.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/dom4j-1.6.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/hibernate-commons-annotations-4.0.2.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/hibernate-core-4.2.2.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/hibernate-jpa-2.0-api-1.0.1.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/javassist-3.15.0-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jboss-logging-3.1.0.GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jboss-transaction-api_1.1_spec-1.0.1.Final.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC/web/Web3" />
      <element id="javaee-facet-resources" facet="SpringMVC/web/Web2" />
      <element id="javaee-facet-resources" facet="SpringMVC/web/Web" />
    </root>
  </artifact>
</component>